body {
  color: $text-base;
}

.navbar.navbar-light {
}

.tr-clickable {
  cursor: pointer;
}

.action-hover-only {

  .td-action {
    opacity: 0;
  }

  &:hover .td-action {
    opacity: 1;
  }
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-light .navbar-nav {
  .nav-link {
    color: $text-lighter-1;
    font-weight: 700;
    //border-radius: 25rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
      color: $red;
    }

    &.active {
      color: $red;
      //background-color: $light-grey-1;
        border: 0 solid $red;
        border-width: 2px 0 0 0;
    }
  }
}

.body-fullscreen {
  min-height: 100vh;
  background: url('/storage/bg.jpg') #29004e no-repeat fixed;
}

.text-small {
  font-size: 0.8rem;
}

.text-teal {
  color: $teal !important;
}

.text-normal {
  color: $text-base !important;
}

a.text-normal {
  color: $text-base !important;
  &:hover {
    color: $text-darker-1 !important;
  }
}

.bg-muted {
  background-color: $light-grey-1 !important;
}

.bg-info-pastel {
  background-color: $pastel-blue-lighter !important;
}

.text-info-pastel {
  color: $pastel-blue !important;
}

.bg-danger-pastel {
  background-color: $pastel-red-lighter !important;
}

.text-danger-pastel {
  color: $pastel-red !important;
}

.bg-success-pastel {
  background-color: $pastel-green-lighter !important;
}

.text-success-pastel {
  color: $pastel-green !important;
}

.bg-warning-pastel {
  background-color: $pastel-orange-lighter !important;
}

.text-warning-pastel {
  color: $pastel-orange !important;
}
