.navbar-brand > img {
    height: 32px;
}

.navbar ul.navbar-nav li a img {
    position: relative;
    top: -2px
}

tr, td {
    vertical-align: middle !important;
}


.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}


* {
    font-family: 'Shentox 13';
}

option {
    font-family: 'Shentox 13';
}

img.pull-left.ml-2 {
    height: 64px;
    width: 64px;
}

table {
    border-collapse: collapse;
}

a.dropdown-item.active {
    border: 3px solid #e3342f;
    border-width: 0 0 0 3px;
    background-color: transparent;
    color:#000;
}
.navbar-light .navbar-nav .nav-link.active {
    color:#e3342f;
    border:0;
    border-width:0 !important;
    -webkit-box-shadow:inset 0 3px 0 0 #e3342f;
    box-shadow:inset 0 3px 0 0 #e3342f;
}

.nav-link img{
    width: 16px;
    height: 16px;
}
.nav-link img.rounded-circle{
    width: 24px;
    height: 24px;
}

.navbar-brand img {
    width: 32px;
    height: 32px;
}

.tooltip, .tooltip-inner {
    width: 360px;
    max-width: 360px;
}

ul.pagination {
    margin-bottom: 0;
}
