// Variables
@import 'variables';
$body-bg: #030303;
$tab-active-color: #fff;
$tab-active-bg: #212529;

$footer-up-bg: #0f1113;
$footer-down-bg: #191d21;
// Bootstrap
@import "~@forevolve/bootstrap-dark/scss/bootstrap-dark";
@import "layout";
@import "button";
@import "form";
@import "comment";
@import "toast";
@import "icon";
@import "modal";
@import "badge";
@import "tags";
@import "fit";
@import "footer";
@import "homepage";
@import "steps";
@import "all_styles";
@import "dark_only";
