// Variables
@import 'variables';
$body-bg: #030303;

// Bootstrap
@import "~@forevolve/bootstrap-dark/scss/bootstrap-dark";
@import "layout";
@import "customer";
@import "button";
@import "form";
@import "comment";
@import "toast";
@import "icon";
@import "modal";
@import "badge";

@import "all_styles";
@import "dark_only";
