@use 'sass:color';

// Variables
@import 'variables';
$tab-active-color: #212529;
$tab-active-bg: #fff;

$footer-up-bg: #333;
$footer-down-bg: #444;
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "layout";
@import "button";
@import "form";
@import "comment";
@import "toast";
@import "icon";
@import "modal";
@import "badge";
@import "tags";
@import "fit";
@import "footer";
@import "homepage";
@import "all_styles";
@import "white_only";
