
.bringupper {
    position: relative;
    top: -1px;
}

.bringupper4 {
    position: relative;
    top: -4px;
}

.table td, .table th {
    border-top: 0 solid transparent !important;
}

td.tinyhead {
    line-height: 0.6rem;
}

img.tinyicon {
    width: 16px;
    height: 16px;
}

img.smallicon {
    width: 24px;
    height: 24px;
}

td.w-20p {
    width: 20px !important;
}

#char_prof {
    width: 128px;
    height: 128px;
    position: relative;
    top: -52px;
    margin-bottom: -38px;
    border: 2px solid #fff;
}

.jqsfield {
    color: #fff;
    font-family: 'Shentox', sans-serif !important;
    text-align: left;
    padding: 1rem;
}

.inline-pie {
    position: relative;
    top: 4px;
    opacity: 0.01;
    overflow: hidden;
    width: 16px;
    height: 16px;
    display: inline-block;
}



ul.infolinks {
    list-style: none;
    margin-bottom: 0;
    padding: 0 20px
}

.resist-outer {
    display: block;
    width: 100%;
    height: 20px;
    padding: 0;
    margin:0;
    border: 1px solid rgba(1,5,54,0.59);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow:inset 0 -4px 8px -2px rgba(1,5,54,0.59);
    box-shadow:inset 0 -4px 8px -2px rgba(1,5,54,0.59);
}

.resist-inner {
    display: inline-block;
    height: 100%;
    -webkit-box-shadow:inset 0 -4px 8px -2px rgba(1,5,54,0.59);
    box-shadow:inset 0 -4px 8px -2px rgba(1,5,54,0.59);
}

.resist-label {    z-index: 3;
    color: #fff;
    text-shadow: 0 0 2px #010536, 0 1px 0 rgba(1,5,54,0.59);
    position: relative;
    top: -28px;
    display: inline-block;
    width: 100%;
    text-align: center;
}


table.fit-results {
    tr.border-bottom:last-child {
        border-color: $tab-active-bg !important;
        border-bottom-width: 0 !important;

    }
}
